* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
  
.menu-bar {
    height: 80px;
    background: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}
  
  .logo {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
  }
  
  .menu-bar a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
  }
  
  .menu-bar a:hover {
    color: #0015ff;
  }
  
  .hero {
    background: #fdcc04;
  }
  
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
  }
  
  .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
  }
  
  .column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  
  .column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  
  button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
  }
  
  button:hover {
    background: #fff;
    color: #000;
  }
  
  .column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
}

  .hero-image1 {
    width: 100%;
    height: 100%;
}

  
@media screen and (max-width: 768px){

  .hero {
    width: 440px;
    height: 900px;


  }

  .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 18px;
}

.hero-image {
  width: 152px;
  height: 100%;
}


.column-right {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}
  .button-container {
    right: -100px;
    width: max-content;
    padding: 10px;
    height: 80px;
    position: relative;
    display: flex;
    align-content: flex-end;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}
.menu-bar{
padding: 0rem calc((100vw - 1300px) / 2);
justify-content: space-between;
width: 440px;
}
.menu-bar .nav-items{
  flex: none;

}
.menu-bar .nav-items a{
  font-size: 16px;
  margin-right: 8px;
  padding: 12px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  transition: all 0.3s ease;
}
.nav-items{
  position: relative;
  position: relative;
  right: 142px;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;


}

}